{% extends "layout.html" %}

{% block title %}
    Fave Images
{% endblock %}

{% block main %}
    <p>The following photos are decent, but need some organization.</p>
    <div><img alt="1" src="images/20171210_212234.jpg" width="50%"/></div>
    <p></p>
    <div><img alt="2" src="images/DSC00383.jpg" width="50%"/></div>
    <p></p>
    <div><img alt="3" src="images/DSC00666.jpg" width="50%"/></div>
    <p></p>
    <div><img alt="4" src="images/IMAG4576.jpg" width="50%"/></div>
    <p></p>
    <div><img alt="5" src="images/IMG_5473.jpg" width="50%"/></div>
    <p></p>
    <div><img alt="6" src="images/IMG_20170101_184157_069.jpg" width="50%"/></div>
    <p></p>
    <div><img alt="7" src="images/P1130246.jpg" width="50%"/></div>
	
	
		<div>
		<a href="index.html">Return to main </a>
		</div>
		
{% endblock %}
